# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg
*.egg-info/
dist/
build/
eggs/
parts/
var/
sdist/
develop-eggs/
.installed.cfg
lib/
lib64/



# Database files
*.db
*.sqlite

# Videos / recordings
video/

# Virtual environment
.venv/
venv/
ENV/
env/

# Environment / secrets
.env


# uv
.uv/
uv.lock

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
*.mp4
